# Proyecto 1 Mineria de datos

Se analizara el contexto economico y politico para poder encontrar estrategias apropiadas para poder invertir en la salud global

In [1]:
# Se importan librerias necesarias
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as sk

/tmp/ipykernel_27451/1942479250.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [225]:
# Se carga el archivo de datos
expenditure = pd.read_csv('Expenditure.csv', encoding='latin1')
Personnel = pd.read_csv('Personnel.csv', encoding='latin1')

In [226]:
# Primer paso de limpieza de datos
# Hacer que la primera fila sea el encabezado
expenditure.columns = expenditure.iloc[0]
expenditure = expenditure[1:]

Personnel.columns = Personnel.iloc[0]
Personnel = Personnel[1:]

In [227]:
# Segundo paso de limpieza de datos
# Cambiar el nombre de la segunda columna (La cual no tiene nombre y cuando la imprimo me muestra NaN) por Country
expenditure = expenditure.rename(columns={expenditure.columns[1]: 'Country Name'})
Personnel = Personnel.rename(columns={Personnel.columns[1]: 'Country Name'})

## Tercer paso de limpieza

In [224]:
# Remplazar parte de los valores de string en la columna Series
Personnel["Series"] = Personnel["Series"].str.replace("Health personnel: ", "")
series = Personnel["Series"].str.split(" ")[1]

Personnel["Series"] = Personnel["Series"].replace("(per 1000 population)", "")
Personnel["Series"] = Personnel["Series"].replace("(number)", "")

Personnel["Series"] = Personnel["Series"].str.split(" ").str[0]

categorias = Personnel["Series"].unique()
for categoria in categorias:
    Personnel[categoria] = 0
    Personnel.loc[Personnel["Series"].str.contains(categoria), categoria] = 1#

Personnel = Personnel.drop(columns=["Series"])
Personnel = Personnel.drop(columns=["Footnotes"])

# dividir por mil values en base la coincidencia que tenga con la variable series
Personnel["Value"] = Personnel["Value"].str.replace(" ", "")
Personnel["Value"] = Personnel["Value"].str.replace(",", "")

Personnel["Value"] = Personnel["Value"].astype(float)

# colocar 0 si no tienen valore
Personnel["Value"] = Personnel["Value"].fillna(0)


# Se suman los value que tengan todas las mismas caracteristicas (Country Name, physician, Pharmacists, nurses, dentists, region/country/area, Year)

,Region/Country/Area,Country Name,Year,Value,Source,Health
1,4,Afghanistan,2001,"4,104","World Health Organisation (WHO), Geneva, WHO G...",1
2,4,Afghanistan,2001,0.2,"World Health Organisation (WHO), Geneva, WHO G...",1
3,4,Afghanistan,2001,525,"World Health Organisation (WHO), Geneva, WHO G...",1
4,4,Afghanistan,2001,0.0,"World Health Organisation (WHO), Geneva, WHO G...",1
5,4,Afghanistan,2005,900,"World Health Organisation (WHO), Geneva, WHO G...",1
...,...,...,...,...,...,...
5880,716,Zimbabwe,2020,0.0,"World Health Organisation (WHO), Geneva, WHO G...",1
5881,716,Zimbabwe,2020,"1,600","World Health Organisation (WHO), Geneva, WHO G...",1
5882,716,Zimbabwe,2020,0.1,"World Health Organisation (WHO), Geneva, WHO G...",1
5883,716,Zimbabwe,2020,"31,792","World Health Organisation (WHO), Geneva, WHO G...",1
5884,716,Zimbabwe,2020,2.0,"World Health Organisation (WHO), Geneva, WHO G...",1

In [214]:
Personnel

,Region/Country/Area,Country Name,Year,Value,Source,number,per 1000 population,Physicians,Pharmacists,Nurses,Dentists
1,4,Afghanistan,2001,"4,104","World Health Organisation (WHO), Geneva, WHO G...",1,0,1,0,0,0
2,4,Afghanistan,2001,0.2,"World Health Organisation (WHO), Geneva, WHO G...",0,1,1,0,0,0
3,4,Afghanistan,2001,525,"World Health Organisation (WHO), Geneva, WHO G...",1,0,0,1,0,0
4,4,Afghanistan,2001,0.0,"World Health Organisation (WHO), Geneva, WHO G...",0,1,0,1,0,0
5,4,Afghanistan,2005,900,"World Health Organisation (WHO), Geneva, WHO G...",1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
5880,716,Zimbabwe,2020,0.0,"World Health Organisation (WHO), Geneva, WHO G...",0,1,0,0,0,1
5881,716,Zimbabwe,2020,"1,600","World Health Organisation (WHO), Geneva, WHO G...",1,0,0,1,0,0
5882,716,Zimbabwe,2020,0.1,"World Health Organisation (WHO), Geneva, WHO G...",0,1,0,1,0,0
5883,716,Zimbabwe,2020,"31,792","World Health Organisation (WHO), Geneva, WHO G...",1,0,0,0,1,0
5884,716,Zimbabwe,2020,2.0,"World Health Organisation (WHO), Geneva, WHO G...",0,1,0,0,1,0

In [62]:
# dtypes de los dataframes
print("-----------Expenditure-----------")
print(expenditure.dtypes)
print("-----------Personnel-----------")
print(Personnel.dtypes)

-----------Expenditure-----------
1
4                                                                                                             object
Country Name                                                                                                  object
2005                                                                                                          object
Current health expenditure (% of GDP)                                                                         object
9.9                                                                                                           object
Data based on calendar year (January 1 to December 31).                                                       object
World Health Organization (WHO), Geneva, WHO Global Health Expenditure database, last accessed April 2023.    object
dtype: object
-----------Personnel-----------
1
4                                                                                                                      object
Country Name                                                                                                           object
2001                                                                                                                   object
Health personnel: Physicians (number)                                                                                  object
4,104                                                                                                                  object
NaN                                                                                                                    object
World Health Organisation (WHO), Geneva, WHO Global Health Workforce statistics database, last accessed April 2023.    object
dtype: object

In [92]:
# Tercer paso de limpieza de datos
# Cast de columnas
#expenditure["Region/Country/Area"].fillna(0, inplace=True)
#expenditure["Region/Country/Area"] = expenditure["Region/Country/Area"].astype(int)
#expenditure["Year"].fillna(2005, inplace=True)
#expenditure["Year"] = expenditure["Year"].astype(int)
#expenditure["Value"].fillna(0, inplace=True)
#expenditure["Value"] = expenditure["Value"].astype(float)

#Personnel["Region/Country/Area"].fillna(0, inplace=True)
#Personnel["Region/Country/Area"] = Personnel["Region/Country/Area"].astype(int)
#Personnel["Year"].fillna(2005, inplace=True)
#Personnel["Year"] = Personnel["Year"].astype(int)
#Personnel["Value"] = Personnel["Value"].str.replace(',', '.')
#Personnel["Value"].fillna(0.0, inplace=True)
#Personnel["Value"] = Personnel["Value"].astype(float)

,Region/Country/Area,Country Name,Year,Series,Value,Footnotes,Source
1,4,Afghanistan,2001,Health personnel: Physicians (number),"4,104",NaN,"World Health Organisation (WHO), Geneva, WHO G..."
2,4,Afghanistan,2001,Health personnel: Physicians (per 1000 populat...,0.2,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
3,4,Afghanistan,2001,Health personnel: Pharmacists (number),525,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
4,4,Afghanistan,2001,Health personnel: Pharmacists (per 1000 popula...,0.0,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
5,4,Afghanistan,2005,Health personnel: Pharmacists (number),900,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
...,...,...,...,...,...,...,...
5880,716,Zimbabwe,2020,Health personnel: Dentists (per 1000 population),0.0,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
5881,716,Zimbabwe,2020,Health personnel: Pharmacists (number),"1,600",NaN,"World Health Organisation (WHO), Geneva, WHO G..."
5882,716,Zimbabwe,2020,Health personnel: Pharmacists (per 1000 popula...,0.1,NaN,"World Health Organisation (WHO), Geneva, WHO G..."
5883,716,Zimbabwe,2020,Health personnel: Nurses and midwives (number),"31,792",NaN,"World Health Organisation (WHO), Geneva, WHO G..."
5884,716,Zimbabwe,2020,Health personnel: Nurses and midwives personne...,2.0,NaN,"World Health Organisation (WHO), Geneva, WHO G..."